
@import "media";

html {
    font-size: $baseFontSize;
    @include tablets {
        font-size: $baseFontSize - 1px;
    }
    @include phones {
        font-size: $baseFontSize - 2px;

    }
}
// (?!rem\()-?\d+px(?!\))
*{
    box-sizing: border-box;
}

body {
    font-family: "Play";
    margin: 0px;   
    background-color: #fff;
    -webkit-font-smoothing: atnialiased;
    -moz-osx-font-smoothing: grayscale;
}


body, html {
    width: 100%;
    height: 100%;
    
}
section {
    height: 100vh;
    $bl_clr: #292929;
    a {color: $bl_clr;}
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    li { 
        list-style-type: none;
    }

}

a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;

}
.body-container {
    width: 100%;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(48px);
    font-stretch: ultra-expanded;
    line-height: rem(58px);
}

.container {
    width: 100%;
    margin: auto;
    height: 100%;
    max-width: $cntnrWidth;
}


@import url("./normalize.css");
@import "./header/header.css";
@import url("./welcome/welcome.css");
@import url("./why/why.css");
@import url("./feedback/feedback.css");
@import url("./delivery/delivery.css");
@import url("./hamburger.css");
@import url("./map/map.css");
@import url("./footer/footer.css");
@import url('./shop/shop.css');

