$bodyContainerWidth: 1100px;
$baseFontSize: 18px;
$tablets: 768px;
$phones: 480px;
$fcolor: #292929;

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@function sum2px($a,$b) {
    @return $a + $b + 0px;
}
@function sum2pr($a,$b) {
    @return $a + $b + 0%;
}

@function percentageOf1100($width) {
    @return ($width / 1100px) * 100%;
}
@function percentageOf768($width) {
    @return ($width / 768px) * 100%;
}
@function percentageOf480($width) {
    @return ($width / 480px) * 100%;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}