$bodyContainerWidth: 1100px;
$baseFontSize: 18px;
$tablets: 768px;
$phones: 480px;
$black: #292929;
$orange: #E01F3D;

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@function sum2px($a,$b) {
    @return $a + $b + 0px;
}
@function sum2pr($a,$b) {
    @return $a + $b + 0%;
}

@function percentOf1100($width) {
    @return ($width / $bodyContainerWidth) * 100%;
}
@function percentOf768($width) {
    @return ($width / $tablets) * 100%;
}
@function percentOf480($width) {
    @return ($width / $phones) * 100%;
}

@function percentOf652($width) {
    @return ($width / 652px) * 100%;
}


@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}