.feedback {
  background-color: white;
  position: relative; }
  .feedback-container {
    padding-top: 3.7777777778rem;
    padding-bottom: 3.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .feedback__content {
    width: 52.2222222222rem;
    padding: 2.3333333333rem;
    margin-top: 1.7777777778rem;
    background-color: #F8FAF9;
    position: relative; }
    .feedback__content::before {
      position: absolute;
      content: "";
      top: -19px;
      left: 50%;
      width: 83px;
      height: 83px;
      background: white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      display: block; }
  .feedback__content__item {
    display: none; }
  .feedback__img {
    width: 14.0555555556rem; }
  .feedback__text-content {
    margin-top: 1.7777777778rem;
    display: flex;
    flex-direction: column;
    width: 27.6666666667rem;
    padding-left: 2.1111111111rem; }
  .feedback__author-title {
    margin-top: 1.7777777778rem;
    font-size: 1.3333333333rem;
    line-height: 1.5555555556rem;
    font-weight: 700;
    color: #292929; }
  .feedback__desc {
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 1.0555555556rem;
    color: #666; }
  .feedback__author-name {
    margin-top: 2.1111111111rem;
    font-size: 1rem;
    line-height: 1.1666666667rem;
    font-weight: 700;
    color: #292929; }
  .feedback__pager {
    margin-top: 15px;
    display: flex;
    justify-content: center; }
  .feedback__item {
    margin-left: 0.3333333333rem; }
    .feedback__item:first-child {
      margin-left: 0; }
  .feedback .interactive-icon {
    display: block;
    width: 4.1111111111rem;
    height: 4.1111111111rem;
    border-radius: 50%;
    border: solid 4px transparent;
    overflow: hidden;
    position: relative; }
  .feedback .active {
    border: solid 4px #E01F3D; }
  .feedback .feedback__content__item.active {
    display: flex;
    border: 0; }
  .feedback-title {
    z-index: 10; }
  .feedback__link {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .feedback__item-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .feedback:before {
    position: absolute;
    z-index: 20;
    bottom: -1.5rem;
    left: 7.3%;
    content: url("./../../img/border_img/Ellipse 7.png"); }

@media screen and (max-width: 768px) {
  .feedback__content {
    width: 94%;
    padding: 56px 23px 15px 23px;
    margin-top: 33px; }
    .feedback__content::before {
      top: -7px; }
  .feedback__content__list {
    position: relative; }
  .feedback__content__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; }
  .feedback__img {
    width: 130px;
    height: 130px; }
  .feedback__icon {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .feedback__text-content {
    padding: 0;
    margin-top: 32px;
    width: 100%; }
  .feedback__author-title {
    margin-top: 0; }
  .feedback__desc {
    margin-top: 16px;
    font-size: 16px; }
  .feedback__author-name {
    margin-top: 16px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.3333333333rem;
    font-weight: 400; }
  .feedback__pager {
    margin-top: 32px; }
  .feedback-title {
    z-index: 10; } }
@media screen and (max-width: 480px) {
  .feedback-title.section-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center; }
  .feedback__text-content {
    padding: 0;
    margin-top: 21px;
    width: 100%; }
  .feedback__author-title {
    margin-top: 0; }
  .feedback__desc {
    margin-top: 12px;
    font-size: 16px; }
  .feedback__pager {
    margin-top: 44px; }
  .feedback__content {
    margin-top: 26px; } }

/*# sourceMappingURL=feedback.css.map */
