@import "./../media";
.header {
    position: relative;
    $step: rem(27px);
    $mr_step: 7.3%;
    height: rem(88px); 
    display: flex;
    justify-content: start;
    align-items: center;
    
    background: #F5F5F5;

    &__logo {
        width: rem(40px);
        height: rem(40px);
        margin-right: rem(11px);
        
    }

    &__menu {
        
        display: flex;
        justify-content: center;
    
        font-size: rem(18px);
        font-weight: 400;
        line-height: 30px;
    
        .menu__list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                
               // display: flex;
              //  align-items: center; 
                margin-left: $step;   
            }  
        }
    }

    &__contacts {
           // display: flex;
            margin-left: rem(46px);
           // margin-right: rem(105px);

    }
    
    .contacts__phone {
        display: flex;

        &-icon { 
            display: inline-block;
        }

        &-number {
            
            display: inline-block;
            padding-left: rem(6px);
            font-style: normal;
        }
    }
}

@include tablets {
    .header {
        &__contacts.header__phone {
                display: none;
        }
    
        &__menu {
            display: none;
        }            
    }
}





