@import "./../media";
.header {
    position: relative;
    $step: rem(27px);
    $mr_step: 7.3%;
    height: rem(88px); 
    display: flex;
    justify-content: start;
    align-items: center;
    
    background: #F5F5F5;

    &__logo {
        width: rem(40px);
        height: rem(40px);
        margin-right: rem(11px);
        
    }

    &__menu {
        
        display: flex;
        justify-content: center;
    
        font-size: rem(18px);
        font-weight: 400;
        line-height: 30px;
    
        .menu__list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                margin-left: $step;   
            }  
        }
    }

    &__contacts {
            margin-left: rem(46px);

    }
    
    .contacts__phone {
        display: flex;
        align-items: center;
        &-icon {
            background: url("./../../img/header/Vector-2.png") center center no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            display: flex;
            flex-shrink: 0;
        }

        &-number {
            
            display: flex;
            flex-shrink: 0;
            padding-left: rem(6px);
            font-style: normal;
        }
    }
}

@include tablets {
    .header {
        &__contacts.header__phone {
                display: none;
        }
    
        &__menu {
            display: none;
        }            
    }
}





