@import "./../media";

$imgSize1100: 452px;
$imgSize768: 306px;
$imgSize320: 240px;

.shop {
    height: 100vh;
    width: 100%;
    $mr_step: 7%;
    color: $fcolor;
    background: #F8FAF9;
    position: relative;
    &-container {
        height: 100%;
        width: 100%;
        display: flex;
       // align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__slider {
        position: relative;
        padding-left: percentageOf1100(107px);
        padding-right: percentageOf1100(60px);
    }
    &__slider__link {
    
        height: 27px;
        width: 15px;
        z-index: 100;
        position: absolute;
        top: $imgSize1100/2 + 30px;
        transform: translateY(-50%);
        .shop-arrows {
            width: 15px;
            height: 30px;
        }
        &#shop__left {
            left: percentageOf1100(60.5px);
        }
        &#shop__right {
            right: percentageOf1100(60.5px);
        }
    }

    &__list {
        left: 0;
        height: 100%;
        display: flex;
        position: relative;
       // transition: left .3s;
        transition: left .3s;
    }
    &__item {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 500px;
        &:first-child {
            margin-left: 0;
        }
    }

    &__content {
        
        display: flex;
        position: relative;
        min-height: $imgSize1100 + 60px;
        width: 100%;
        
    }

    &__img-content {
        min-width: $imgSize768;
        min-height: $imgSize768;
        max-height: $imgSize1100;
        max-width: $imgSize1100;
        height: 100%;
        width: 50%;
        position: relative;
        margin-top: 30px;
        .img-container {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
    }

    &__desc {
        width: 50%;
        max-width: 478px;
        display: flex;
        //align-items: center;
        flex-direction: column;
        //justify-content: start;
        padding-left: percentageOf1100(59px);
        position: relative;
       
        &__icon {
            //@at-root: absolute;
            width: 91px;
            height: 91px;
            //top: -30px;
            position: relative;
            
            svg {
                width: 100%;
                height: 100%;
            }

            .dropdown__block {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 273px;
                height: 294px;
                left: 91px; 

                padding: 0 25px 34px 30px;
                backdrop-filter: blur(40px);

                font-size: 16px;
                line-height: 24px;
                border: none;
                border-radius: 4px;

                
                display: none;
                &::before {
                    display: block;
                    content: "";
                    position: absolute;
                    left: -91px;
                    top: 0;
                    width: sum2px(273px,91px);
                    height: sum2px(274px,91px);
                    opacity: 0;
                }

                .dropdown__block__items {
                   
                    .dropdown__block__item {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 24px;
                        margin-top: 28px;
                        .item__specifications__wrapper {
                            display: flex;
                            .item__specification__icon {
                                width: 24px;
                                svg {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                            .item__specification__name {
                                padding-left: 16px;

                            }
                        }
                    }
                } 
                   
            }
            

            &:hover {
                .dropdown__block {
                    display: block;
                }
            }
        }


        &__title {
            text-transform: uppercase;
            font-size: 36px;
            line-height: 42px;
            font-weight: 700;
            margin-top: 25px;
        }
        &__text-block {
            font-size: 16px;
            line-height: 19px;
            color: #666;
            margin-top: 24px;
            max-width: 368px;
        }
        &__specifications {
            margin-top: 27px;
            display: flex;
            width: 100%;
            justify-content: start;
            &__charger {
                width: 62px;
                &__title {
                    font-size: 16px;
                    line-height: 19px;
                    color: #666;
                    font-weight: 400;
                }
                &__value {
                    font-size: 18px;
                    line-height: 21px;
                    color: black;
                    font-weight: 700;
                }
            }
            &__weight {
                margin-left: rem(86px);
                width: 100px;
                &__title {
                    font-size: 16px;
                    line-height: 19px;
                    color: #666;
                    font-weight: 400;
                }
                &__value {
                    font-size: 18px;
                    line-height: 21px;
                    color: black;
                    font-weight: 700;
                }
            }
        }
        &__purchase {
            display: flex;
            margin-top: 24px;
            height: 60px;
            width: 100%;
            justify-content: start;
            &__price {
                width: 150px;
                font-size: 36px;
                line-height: 60px;
                font-weight: 400;
                flex-shrink: 0;
            }
            &__btn .welcome__btn{
                margin-left: 1px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 13px;
            }
        }
    }
    &:before {
        position: absolute;
        z-index: 20;
        bottom: rem(-27px);
        right: 6.3%;
        content: url("./../../img/border_img/Rectangle\ 13.png");
    }
}

@include tablets {
    .shop {
        &__content {
            height: auto;
            // padding-left: percentageOf768(80px);
            // padding-right: percentageOf768(80px);
        }
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__desc {
            padding-left: 0;
            margin-top: 49px;
            width: 100%;
            max-width: 100%;

            &__title {
                text-align: center;
                font-size: 28px;
                line-height: 32px;
            }

            &__text-block {
                margin-top: 14px;
                text-align: center;
                max-width: 614px;
            }

            &__specifications {
                justify-content: center;
            }
            &__purchase {
                justify-content: center;
                &__price {
                    font-size: 40px;
                    line-height: 60px;
                    width: 196px;
                }
            }
        }

        &__img-content {
            width: $imgSize768;
            height: $imgSize768;
            margin-top: 0;
        }
        &__slider__link {
            &#shop__left {
                top: $imgSize768/2;
                left: percentageOf768(156.5px);
            }
            &#shop__right {
                top: $imgSize768/2;
                right: percentageOf768(162.5px);;
            }
        }

        &__desc__icon { display: none;}  
        &::before {
            right: 9.2%;
        }
    }   
}

@include phones {

    .shop {
        &__content {
            padding-left: percentageOf480(34px);
            padding-right: percentageOf480(34px);
        }
        &__desc {
            margin-top: 26px;
            &__text-block {
                margin-top: 13px;
                max-width: 412px;
            }
            &__specifications {
                margin-top: 25px;
            }
            &__purchase { 
                &__price {
                    font-size: 32px;
                    line-height: 60px;
                    width: 148px;
                }
            }
        }

        &__img-content {
             width: 90%;
             min-width: $imgSize320;
             min-height: $imgSize320;
            
        }

        &__slider__link {
            &#shop__left {
                left: 13.5px;
            }
            &#shop__right {
                right: 13.5px;
            }
        }
        &:before {
            right: 11.5%;
        }
    }
}


