.shop {
  height: 100vh;
  width: 100%;
  color: #292929;
  background: #F8FAF9;
  position: relative; }
  .shop-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .shop__slider {
    position: relative;
    padding-left: 9.7272727273%;
    padding-right: 5.4545454545%; }
  .shop__slider__link {
    height: 27px;
    width: 15px;
    z-index: 100;
    position: absolute;
    top: 256px;
    transform: translateY(-50%); }
    .shop__slider__link .shop-arrows {
      width: 15px;
      height: 30px; }
    .shop__slider__link#shop__left {
      left: 5.5%; }
    .shop__slider__link#shop__right {
      right: 5.5%; }
  .shop__list {
    left: 0;
    height: 100%;
    display: flex;
    position: relative;
    transition: left .3s; }
  .shop__item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px; }
    .shop__item:first-child {
      margin-left: 0; }
  .shop__content {
    display: flex;
    position: relative;
    min-height: 512px;
    width: 100%; }
  .shop__img-content {
    min-width: 306px;
    min-height: 306px;
    max-height: 452px;
    max-width: 452px;
    height: 100%;
    width: 50%;
    position: relative;
    margin-top: 30px; }
    .shop__img-content .img-container {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .shop__desc {
    width: 50%;
    max-width: 478px;
    display: flex;
    flex-direction: column;
    padding-left: 5.3636363636%;
    position: relative; }
    .shop__desc__icon {
      width: 91px;
      height: 91px;
      position: relative; }
      .shop__desc__icon svg {
        width: 100%;
        height: 100%; }
      .shop__desc__icon .dropdown__block {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 273px;
        height: 294px;
        left: 91px;
        padding: 0 25px 34px 30px;
        backdrop-filter: blur(40px);
        font-size: 16px;
        line-height: 24px;
        border: none;
        border-radius: 4px;
        display: none; }
        .shop__desc__icon .dropdown__block::before {
          display: block;
          content: "";
          position: absolute;
          left: -91px;
          top: 0;
          width: 364px;
          height: 365px;
          opacity: 0; }
        .shop__desc__icon .dropdown__block .dropdown__block__items .dropdown__block__item {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 24px;
          margin-top: 28px; }
          .shop__desc__icon .dropdown__block .dropdown__block__items .dropdown__block__item .item__specifications__wrapper {
            display: flex; }
            .shop__desc__icon .dropdown__block .dropdown__block__items .dropdown__block__item .item__specifications__wrapper .item__specification__icon {
              width: 24px; }
              .shop__desc__icon .dropdown__block .dropdown__block__items .dropdown__block__item .item__specifications__wrapper .item__specification__icon svg {
                height: 100%;
                width: 100%; }
            .shop__desc__icon .dropdown__block .dropdown__block__items .dropdown__block__item .item__specifications__wrapper .item__specification__name {
              padding-left: 16px; }
      .shop__desc__icon:hover .dropdown__block {
        display: block; }
    .shop__desc__title {
      text-transform: uppercase;
      font-size: 36px;
      line-height: 42px;
      font-weight: 700;
      margin-top: 25px; }
    .shop__desc__text-block {
      font-size: 16px;
      line-height: 19px;
      color: #666;
      margin-top: 24px;
      max-width: 368px; }
    .shop__desc__specifications {
      margin-top: 27px;
      display: flex;
      width: 100%;
      justify-content: start; }
      .shop__desc__specifications__charger {
        width: 62px; }
        .shop__desc__specifications__charger__title {
          font-size: 16px;
          line-height: 19px;
          color: #666;
          font-weight: 400; }
        .shop__desc__specifications__charger__value {
          font-size: 18px;
          line-height: 21px;
          color: black;
          font-weight: 700; }
      .shop__desc__specifications__weight {
        margin-left: 4.7777777778rem;
        width: 100px; }
        .shop__desc__specifications__weight__title {
          font-size: 16px;
          line-height: 19px;
          color: #666;
          font-weight: 400; }
        .shop__desc__specifications__weight__value {
          font-size: 18px;
          line-height: 21px;
          color: black;
          font-weight: 700; }
    .shop__desc__purchase {
      display: flex;
      margin-top: 24px;
      height: 60px;
      width: 100%;
      justify-content: start; }
      .shop__desc__purchase__price {
        width: 150px;
        font-size: 36px;
        line-height: 60px;
        font-weight: 400;
        flex-shrink: 0; }
      .shop__desc__purchase__btn .welcome__btn {
        margin-left: 1px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 13px; }
  .shop:before {
    position: absolute;
    z-index: 20;
    bottom: -1.5rem;
    right: 6.3%;
    content: url("./../../img/border_img/Rectangle 13.png"); }

@media screen and (max-width: 768px) {
  .shop__content {
    height: auto; }
  .shop__item {
    flex-direction: column;
    align-items: center; }
  .shop__desc {
    padding-left: 0;
    margin-top: 49px;
    width: 100%;
    max-width: 100%; }
    .shop__desc__title {
      text-align: center;
      font-size: 28px;
      line-height: 32px; }
    .shop__desc__text-block {
      margin-top: 14px;
      text-align: center;
      max-width: 614px; }
    .shop__desc__specifications {
      justify-content: center; }
    .shop__desc__purchase {
      justify-content: center; }
      .shop__desc__purchase__price {
        font-size: 40px;
        line-height: 60px;
        width: 196px; }
  .shop__img-content {
    width: 306px;
    height: 306px;
    margin-top: 0; }
  .shop__slider__link#shop__left {
    top: 153px;
    left: 20.3776041667%; }
  .shop__slider__link#shop__right {
    top: 153px;
    right: 21.1588541667%; }
  .shop__desc__icon {
    display: none; }
  .shop::before {
    right: 9.2%; } }
@media screen and (max-width: 480px) {
  .shop__content {
    padding-left: 7.0833333333%;
    padding-right: 7.0833333333%; }
  .shop__desc {
    margin-top: 26px; }
    .shop__desc__text-block {
      margin-top: 13px;
      max-width: 412px; }
    .shop__desc__specifications {
      margin-top: 25px; }
    .shop__desc__purchase__price {
      font-size: 32px;
      line-height: 60px;
      width: 148px; }
  .shop__img-content {
    width: 90%;
    min-width: 240px;
    min-height: 240px; }
  .shop__slider__link#shop__left {
    left: 13.5px; }
  .shop__slider__link#shop__right {
    right: 13.5px; }
  .shop:before {
    right: 11.5%; } }

/*# sourceMappingURL=shop.css.map */
