.welcome {
    $fcolor: #292929;
    $mr_step: 7.3%;
    color: $fcolor;

    background-color: #F5F5F5;

    &-container {
        height: 100%;
        padding-left: $mr_step;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
     }
    &__content {
        width: 100%;
        padding-top: 48px; 
        background: url("./../../img/welcome/Ellipse\ 5.png") left 432px center no-repeat;
        min-height: 489px;
    }

    &__title {
        width: 400px;
    }

    &__subtitle {
        margin-top: 22px;
        width: 400px;
        font-size: 21px;
        line-height: 25px;
        color: #292929;
    }
    &__btn {
        width: 163px;
        height: 54px;
        color: white;
        background: #E01F3D;
        font-size: 16px;
        line-height: 18px;
        border: 0px;
        border-radius: 100px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 36px;
        margin-bottom: 70px;
    }
    
    &__btn:hover {
        color: #E01F3D;
        background: white;
        border: 2px;
        border-color: #E01F3D;
    }
    &__features {
        
        display: flex;
        $step: 8px;
        margin-bottom: 50px;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
       
        .features__list {
            display: flex;
            justify-content: start;
            .features__item {
                margin-right: $step;
                width: 166px;
                height: 56px;
                display: flex;
                .features__img {
                    text-align: center;
                    width: 52px;
                }
                .features__desc {
                    padding-left: 10px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    position: relative;
    &:before {
        position: absolute;
        z-index: 20;
        bottom: -27px;
        right: 11.5%;
        content: url("./../../img/border_img/Rectangle\ 14.png");
    }
}

//@import url("welcome__title.css");
//@import url("welcome__subtitle.css");
//@import url("welcome__btn.css");
//@import url("welcome__features.css");