.welcome {
  height: 100vh;
  width: 100%;
  color: #292929;
  padding-left: 7%;
  padding-right: 10%;
  background: #F5F5F5;
  position: relative; }
  .welcome-container {
    height: 100%;
    width: 100%;
    max-width: 61.1111111111rem;
    position: relative; }
  .welcome__content {
    height: 75%;
    display: flex;
    align-items: center;
    min-height: 489px; }
  .welcome__content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 489px; }
  .welcome__img-block {
    width: 489px;
    height: 489px;
    margin-left: 1.7777777778rem;
    background: url("./../../img/welcome/Ellipse 5.png") no-repeat;
    background-size: cover; }
  .welcome__title {
    width: 22.2222222222rem;
    margin-top: 2.6111111111rem; }
  .welcome__subtitle {
    display: block;
    margin-top: 1.2222222222rem;
    width: 22.2222222222rem;
    font-size: 1.1666666667rem;
    line-height: 1.3888888889rem;
    color: #292929; }
  .welcome__btn {
    width: 9.0555555556rem;
    height: 3rem;
    color: white;
    background: #E01F3D;
    font-size: 0.8888888889rem;
    line-height: 1rem;
    border: 0px;
    border-radius: 5.5555555556rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 3.8888888889rem; }
  .welcome__btn:hover {
    color: #E01F3D;
    background: white;
    border: 0.1111111111rem;
    border-color: #E01F3D; }
  .welcome__features {
    position: absolute;
    display: flex;
    bottom: 2.7777777778rem;
    width: 100%;
    font-size: 0.8888888889rem;
    line-height: 1rem; }
    .welcome__features .features__list {
      display: flex;
      justify-content: start; }
      .welcome__features .features__list .features__item {
        margin-right: 0.4444444444rem;
        width: 9.2222222222rem;
        height: 3.1111111111rem;
        display: flex; }
        .welcome__features .features__list .features__item .features__img {
          text-align: center;
          width: 2.8888888889rem; }
        .welcome__features .features__list .features__item .features__desc {
          padding-left: 0.5555555556rem; }
        .welcome__features .features__list .features__item:last-child {
          margin-right: 0; }
  .welcome:before {
    position: absolute;
    z-index: 20;
    bottom: -1.5rem;
    right: 11.5%;
    content: url("./../../img/border_img/Rectangle 14.png"); }

@media screen and (max-width: 768px) {
  .welcome {
    padding-left: 1.2222222222rem;
    padding-right: 1.2222222222rem; }
    .welcome__content {
      margin-top: 10%; }
    .welcome__content-wrapper {
      z-index: 10;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center; }
    .welcome__img-block {
      width: 323px;
      height: 323px; }
    .welcome__features {
      display: none; }
    .welcome__title {
      width: 100%;
      max-width: 35.8333333333rem; }
    .welcome__subtitle {
      width: 380px;
      text-align: center; }
    .welcome__content-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }
@media screen and (max-width: 480px) {
  .welcome__title.section-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center; }
  .welcome__subtitle {
    text-align: center;
    line-height: 20px;
    width: 90%; }
  .welcome__img-block {
    margin-left: 0; } }

/*# sourceMappingURL=welcome.css.map */
