@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\000034}}
.welcome {
  height: 100vh;
  width: 100%;
  color: #292929;
  padding-left: 7%;
  padding-right: 10%;
  background: #F5F5F5;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000313}}
  .welcome-container {
    height: 100%;
    width: 100%;
    max-width: 61.1111111111rem;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000319}}
  .welcome__content {
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 489px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000325}}
  .welcome__content-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 489px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000332}}
  .welcome__img-block {
    width: 489px;
    height: 489px;
    margin-left: 1.7777777778rem;
    background: url("./../../img/welcome/Ellipse 5.png") no-repeat;
    background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000339}}
  .welcome__title {
    width: 22.2222222222rem;
    margin-top: 2.6111111111rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000344}}
  .welcome__subtitle {
    display: block;
    margin-top: 1.2222222222rem;
    width: 22.2222222222rem;
    font-size: 1.1666666667rem;
    line-height: 1.3888888889rem;
    color: #292929; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000353}}
  .welcome__btn {
    width: 9.0555555556rem;
    height: 3rem;
    color: white;
    background: #E01F3D;
    font-size: 0.8888888889rem;
    line-height: 1rem;
    border: 0px;
    border-radius: 5.5555555556rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 3.8888888889rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000368}}
  .welcome__btn:hover {
    color: #E01F3D;
    background: white;
    border: 0.1111111111rem;
    border-color: #E01F3D; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000374}}
  .welcome__features {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 2.7777777778rem;
    width: 100%;
    font-size: 0.8888888889rem;
    line-height: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000383}}
    .welcome__features .features__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000386}}
      .welcome__features .features__list .features__item {
        margin-right: 0.4444444444rem;
        width: 9.2222222222rem;
        height: 3.1111111111rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000391}}
        .welcome__features .features__list .features__item .features__img {
          text-align: center;
          width: 2.8888888889rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000395}}
        .welcome__features .features__list .features__item .features__desc {
          padding-left: 0.5555555556rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\0000398}}
        .welcome__features .features__list .features__item:last-child {
          margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003106}}
  .welcome:before {
    position: absolute;
    z-index: 20;
    bottom: -1.5rem;
    right: 11.5%;
    content: url("./../../img/border_img/Rectangle 14.png"); }

@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003116}}
  .welcome {
    padding-left: 1.2222222222rem;
    padding-right: 1.2222222222rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003119}}
    .welcome__content {
      margin-top: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003122}}
    .welcome__content-wrapper {
      z-index: 10;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003128}}
    .welcome__img-block {
      width: 323px;
      height: 323px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003132}}
    .welcome__features {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003135}}
    .welcome__title {
      width: 100%;
      max-width: 35.8333333333rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003139}}
    .welcome__subtitle {
      width: 380px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003144}}
    .welcome__content-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003158}}
  .welcome__title.section-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003164}}
  .welcome__subtitle {
    text-align: center;
    line-height: 20px;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nikitasubarev\/Documents\/LOFTSCHOOL\/02_project_landing\/css\/welcome\/welcome\.scss}line{font-family:\00003169}}
  .welcome__img-block {
    margin-left: 0; } }
/*# sourceMappingURL=welcome.css.map */