.delivery {
  background-color: #181818;
  background: url(./../../img/delivery/photo_2022-01-18_15-18-50.jpg) center bottom no-repeat;
  background-size: cover;
  color: #fff; }
  .delivery-content-wrapper {
    height: 100vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .delivery__form {
    display: flex; }
  .delivery-title {
    text-align: center; }
  .delivery-container {
    height: 100vh;
    display: flex;
    justify-content: center; }
  .delivery__form {
    margin-top: 3.3888888889rem; }

.form__title {
  margin-bottom: 6px; }

.form__col {
  flex: 1;
  margin-right: 1.5rem;
  width: 48%; }
  .form__col:last-child {
    margin-right: 0px; }

.form__raw {
  display: flex;
  margin-bottom: 0.6111111111rem; }
  .form__raw:last-child {
    margin-bottom: 0; }

.form__block {
  flex: 1;
  margin-right: 0.9444444444rem; }
  .form__block:last-child {
    margin-right: 0px; }

.form__input {
  width: 100%;
  height: 58px;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent; }
  .form__input:focus {
    border-color: #CA1B36;
    outline: none; }
  .form__input-textarea {
    height: 152px;
    resize: none;
    margin-bottom: 1.3333333333rem; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.8888888889rem;
  margin-bottom: 1.0555555556rem; }
  .radio__checkbox {
    display: flex;
    cursor: pointer;
    user-select: none; }
    .radio__checkbox .radio__visible {
      border-radius: 0; }
      .radio__checkbox .radio__visible:before {
        background: url("./../../img/delivery/Vector-6.png") center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible:before {
    display: block; }

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.5555555556rem; }
  .radio__visible:before {
    content: "";
    width: 0.7222222222rem;
    height: 0.7222222222rem;
    background: #CA1B36;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__btns {
  margin-top: 46px;
  margin-left: -9px; }
  .form__btns .welcome__btn {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block; }
    .form__btns .welcome__btn ~ .welcome__btn {
      background: none; }

.mb0 {
  margin-bottom: 0; }

@media screen and (max-width: 768px) {
  .delivery__form {
    flex-direction: column;
    align-items: center; }
    .delivery__form .form__col {
      width: 90%;
      margin-right: 0; }
    .delivery__form .form__raw {
      margin-bottom: 14px; }
      .delivery__form .form__raw:last-child {
        margin-bottom: 16px;
        justify-content: center; }
    .delivery__form .form__raw.mb0 {
      margin-bottom: 0; }
    .delivery__form .form__block.mr5p:first-child {
      margin-right: 5%; }
    .delivery__form .form__title {
      margin-bottom: 3px; }
  .delivery .form__btns {
    margin-top: 38px; }
  .delivery .form__input {
    height: 36px; } }
@media screen and (max-width: 480px) {
  .delivery-title.section-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center; }
  .delivery .form__raw {
    justify-content: center; }
  .delivery-content-wrapper {
    width: 100%; } }
.modal {
  display: none;
  max-width: 400px; }
  .modal__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .modal__content {
    text-align: center !important;
    font-size: 0.8888888889rem;
    text-transform: uppercase;
    line-height: 25px; }

.error-modal .modal__content {
  color: #CA1B36; }

.input-error {
  border: 2px solid red; }

.app-close-modal {
  margin-top: 25px;
  margin-bottom: 0; }

/*# sourceMappingURL=delivery.css.map */
