@import "./../media";
.delivery {
    &-content-wrapper {
        height: 100vh;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;

    }
    background-color: #181818;
    background: url(./../../img/delivery/photo_2022-01-18_15-18-50.jpg) center bottom no-repeat;
    background-size: cover;

    color: #fff;

    &-title {
        text-align: center;
    }

    &-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        // padding-top: rem(68px);
        // padding-left: rem(80px);
        // padding-right: rem(80px);
        // padding-bottom: rem(85px);
    }

    &__form {
        margin-top: rem(61px);
    }
}

.form__title {
    margin-bottom: 6px;
}

.form__col {
    flex: 1;
    margin-right: rem(27px);
    width: 48%;//rem(460px);
    &:last-child {
        margin-right: 0px;
    }
}

.form__raw {
    display: flex;
    margin-bottom: rem(11px);
    &:last-child {
        margin-bottom: 0;
    }
}


.form__block {
    flex: 1;
    margin-right: rem(17px);
    &:last-child {
        margin-right: 0px;
    }
}

.form__input {
    width: 100%;
    height: 58px;
    padding: rem(18px) rem(12px);
    border: solid rem(3px) transparent;
    &:focus {
        border-color: #CA1B36;
        outline: none;
    }
    &-textarea {
        height: 152px;
        resize: none;
        margin-bottom: rem(24px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(16px);
    margin-bottom: rem(19px);
    &__checkbox {
        display: flex;
        cursor: pointer;
        user-select: none;
            .radio__visible {
                border-radius: 0;
                &:before {
                    background: url("./../../img/delivery/Vector-6.png") center center no-repeat;
                }
            }
            
        }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
    
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    margin-right: rem(10px);

    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        background: #CA1B36;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

.form__btns {
    margin-top: 46px;
    margin-left: -9px;
    .welcome__btn {
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block;
        & ~ .welcome__btn {
            background: none;
        }
    }
    
}

.mb0 {
    margin-bottom: 0;
}

@include tablets {
    .delivery {

        &__form {
            flex-direction: column;
            align-items: center;
            .form__col {
                width: 90%;
                margin-right: 0;
            }
            .form__raw {
                margin-bottom: 14px;
                
                &:last-child {
                    margin-bottom: 16px;
                    justify-content: center;
                }
                
            }
            .form__raw.mb0 {
                margin-bottom: 0;
            }

            .form__block.mr5p:first-child {
                margin-right: 5%;
            }
            .form__title {
                margin-bottom: 3px;
            }
        }
        .form__btns {
            margin-top: 38px;
        }
    }

}