@import "./../media";

.why {
    

    background-color: white;

    &-container {
        width: 100%;
        padding-top: rem(101px);
        padding-bottom: rem(98px);
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        
    }
   
    &__subtitle {
        color: #666;
        width: rem(590px);
        font-size: rem(16px);
        line-height: rem(19px);
        font-weight: 400;
        text-align: center  ;
        margin-top: rem(18px);
    }

    &__list {
        margin-top: rem(62px);
        display: flex;
       // justify-content: space-between;
       // min-width: rem(938px);
       

    }
    &__item {
        width: rem(276px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: rem(55px);
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        &:before {
            content: url("./../../img/why/Combined\ shape 2204.png");
            width: rem(70px);
            height: rem(24px);
            // display: block;
            top: rem(52px);
            right: rem(-25px);
            transform: translateX(50%);
            position:absolute;
        }
        &:last-child::before {
            display: none;
        }
        
    }
    
    &__img {
        width: rem(128px);
        height: rem(128px);
        background-color: #F2F5F4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item-title {
        font-size: rem(24px);
        line-height: rem(28px);
        margin-top: rem(24px);
    }
    &__desc {
        font-size: rem(16px);
        line-height: rem(19px);
        color: #666;
        text-align: center;
        margin-top: rem(7px);
    }
    position: relative;
    &:before {
        position: absolute;
        z-index: 20;
        bottom: rem(-27px);
        left: 5.5%;
        content: url("./../../img/border_img/Vector\ 2.png");
    }
}

@include tablets {

    .why {
        &__item {
            width: rem(260px);

            &:before {
                display: none;
            }
            margin-left: 0%;
        }
        
    }
}